@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

:root {
    --background: darkslateblue;
    --minecard: #c2c3c8;
}

* {
    font-family: 'Jura', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    background: var(--background);
}

main {
    height: calc(100vh - 160px);
}

h1, h4 {
    margin-bottom: 0;
    color: white;
}

nav {
    height: 80px;
}

footer {
    bottom: 0;
    width: 100%;
    position: sticky;
    height: 80px;
}

.card-header {
    padding: 12px;
    background: var(--minecard);
}

.card {
    padding: 3px;
    background: var(--minecard);
}

.card-body {
    padding: 0;
}

td.uncovered {
    background: #e3e3e3;
}

td:hover {
    background: #e3e3e3;
    cursor: pointer;
}

td {
    width: 50px;
    height: 50px;
    border: 3px solid #e3e3e3;
    background: var(--minecard);
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
}

.custom-select {
    width: 150px;
}

.gameStats {
    width: 150px;
    background: white;
}

.gameStats > div {
    height: max-content;
    margin: auto;
}

.emoji {
    margin:auto;
    font-size: 25px;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.cell-1 {
    color: blue;
}

.cell-2 {
    color: green;
}

.cell-3 {
    color: red;
}

.cell-4 {
    color: purple;
}

.cell-5 {
    color: brown;
}

.cell-6 {
    color: teal;
}

.cell-7 {
    color: black;
}

.cell-8 {
    color: grey;
}

.modal-header .close span {
    font-size: 30px !important;
}