// scss-lint:disable ColorVariable, HexLength, LeadingZero

@import url('https://fonts.googleapis.com/css2?family=Jura:wght@500&display=swap');

$body-background: #483d8b;
$statistics-background: #ffffff;
$primary: #c2c3c8;
$cell-uncovered: #e3e3e3;
$cell-hover: #acb5b8;
$heading: #ffffff;
$input-valid: #28a745;
$input-invalid: #dc3545;

$cell-size: 40px;
$nav-elem-width: 120px;
$font-family: 'Jura', sans-serif;

.value-1 { color: #0000ff; }
.value-2 { color: #008000; }
.value-3 { color: #ff0000; }
.value-4 { color: #800080; }
.value-5 { color: #a52a2a; }
.value-6 { color: #008080; }
.value-7 { color: #000000; }
.value-8 { color: #808080; }

* {
  box-sizing: border-box;
  font-family: $font-family;
  margin: 0;
  padding: 0;
}

h1,
h4 {
  color: $heading;
}

html {
  height: 100%;
}

body {
  background: $body-background;
  display: flex;
  height: 100%;
}

main {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  overflow-x: hidden;
}

/*
tr {

  &:not(:last-child) {
    td {
      border-bottom: 1px;
    }
  }
}
*/

.custom-flex {
  align-content: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  justify-items: center;
}

.card {
  background: $primary;
  display: flex;
  margin: 7px;
  padding: 3px;

  .card-header {
    background: $primary;
    padding: 12px;
  }

  .card-body {
    display: block;
    padding: 0;
  }
}

.minefield {
  background: $cell-uncovered;
  display: block;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.uncovered {
  background: $cell-uncovered;
}

td {
  background: $primary;
  border: 2px solid $cell-uncovered;
  font-size: 1.2rem;
  font-weight: bold;
  height: $cell-size;
  min-height: $cell-size;
  min-width: $cell-size;
  text-align: center;
  width: $cell-size;

  span {
    display: inline-block;
  }

  &:not(.uncovered):hover {
    background: $cell-hover;
    cursor: pointer;
  }

  &:hover {
    background: initial;
    cursor: initial;
  }
}

.custom-select {
  width: $nav-elem-width;
}

input {
  &:valid {
    border-left: 5px solid $input-valid;
  }

  &:invalid {
    border-left: 5px solid $input-invalid;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

.close span {
  font-size: 30px;
}

.restart {
  cursor: pointer;
  font-size: 25px;
  margin: auto;
}

.statistics {
  background: $statistics-background;
  width: $nav-elem-width;

  > div {
    margin: auto;
  }
}

a:hover {
  text-decoration: none;
}

.explode {
  animation: explosion 1000ms;
}

@keyframes explosion {
  0% { transform: scale(0.5); }
  50% { transform: scale(2); }
  100% { transform: scale(1); }
}
